<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>ReservasLabs</title>

    <link
        rel="stylesheet"
        href="/css/style.css">

    <link
        rel="stylesheet"
        href="/css/navbar.css">

    <link
        rel="stylesheet"
        href="/css/forms.css">

    <link
        rel="stylesheet"
        href="/css/tables.css">

    <link
        rel="stylesheet"
        href="/css/dashboard.css">

</head>

<body>

    {{> navbar}}

    <main class="container">

        {{#if success}}

            <div class="alert success">

                {{success}}

            </div>

        {{/if}}

        {{#if error}}

            <div class="alert error">

                {{error}}

            </div>

        {{/if}}

        {{{body}}}

    </main>

    <script src="/js/main.js"></script>

</body>

</html>
