<h1>Novo Laboratório</h1>

<form action="/laboratorios/novo" method="POST">

    <label>Nome</label>

    <input

        type="text"

        name="NomeLab"

        required

    >

    <label>Hora de Entrada</label>

    <input

        type="time"

        name="HoraEntrada"

        required

    >

    <label>Hora de Saída</label>

    <input

        type="time"

        name="HoraSaida"

        required

    >

    <button>

        Salvar

    </button>

</form>
