<header>

<nav class="navbar">

<div class="logo">

ReservasLabs

</div>

<ul>

<li>

<a href="/historico/dashboard">

Dashboard

</a>

</li>

<li>

<a href="/laboratorios">

Laboratórios

</a>

</li>

<li>

<a href="/equipamentos">

Equipamentos

</a>

</li>

<li>

<a href="/reservas/laboratorios">

Reservas Lab

</a>

</li>

<li>

<a href="/reservas/equipamentos">

Reservas Equip.

</a>

</li>

<li>

<a href="/historico">

Histórico

</a>

</li>

{{#if usuario}}

<li>

<a href="/auth/logout">

Sair

</a>

</li>

{{else}}

<li>

<a href="/auth/login">

Entrar

</a>

</li>

{{/if}}

</ul>

</nav>

</header>
