<div class="login-box">

<h2>

Cadastro

</h2>

<form

action="/auth/cadastro"

method="POST"

>

<label>

Usuário

</label>

<input

type="text"

name="Login"

required

>

<label>

Senha

</label>

<input

type="password"

name="Senha"

required

>

<button>

Cadastrar

</button>

</form>

</div>
